.bag-light{
    background-color: lawngreen;
}
.leftPage{
    background-color:rgb(29, 1, 20);
}
.midPage{
    background-color: white;
}
.rightPage{
    background-color:white;
}
.navbar{
    color: white;
}
footer{
	padding: 1px;
	color:white;
	margin: 1px;
}